@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import '../shared/vars.scss';

.current-events {
  position: absolute;
  right: 0;
  top: 120px;
  width: 300px;
  text-align: right;
}

.current-events-heading {
  margin-top: 0;
}

@include desktop {
  .current-events-heading--mobile {
    display: none;
  }
}

@include phone {
  .current-events {
    text-align: center;
    top: 0;
    width: 100%;
  }

  .current-events-heading {
    display: none;
  }

  .current-events-heading--mobile {
    text-decoration: none;
    font-size: 30px;
  }
}

.brave-girl {
  width: 100%;
}

@include phone {
  .brave-girl {
    display: none;
  }
  .brave-girl-caption {
    display: none;
  }
}