@import '../shared/vars.scss';

.site-header {
  font-family: $font-header;
  display: flex;
  align-content: space-around;
  margin-top: -2rem;
  pointer-events: none;
  margin-left: 7rem;

  @include phone {
    flex-direction: column;
    background-color: $darker;
    margin-left: 0;
  }
}

@include desktop {
  .home-bg .site-header {
    margin-left: 0;
    .site-heading {
      font-size: 150px;
    }
  }
}

.site-heading,
.site-subheading {
  margin: 0;
  padding: 0;
  color: $tan;

  @include phone {
    color: $light;
  }
}

.site-heading {
  font-size: 180px;
  padding-top: 1.9rem;
  position: relative;
  top: 1rem;
  margin-bottom: -5rem;
  transform: rotate(-10deg);

  @include phone {
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
    transform: none;
  }
  @include tablet {
    font-size: 100px;
  }
}

@include desktop {
  .contact-bg .site-heading {
    color: $dark;
  }
}

@include tablet {
  .contact-bg .site-heading {
    color: $dark;
  }
}

.site-subheading {
  font-size: 18px;
  text-align: right;
  flex-grow: 1;
  padding-top: 5.6rem;
  font-family: $font-subheader;

  @include phone {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
