@import '../shared/vars.scss';

.site-header {
  font-family: $font-header;
  pointer-events: none;
  background-color: $dark;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include phone {
    box-shadow: none;
    margin-left: 0;
    position: static;
    z-index: 1;
    height: 75px;
  }
}

.site-heading,
.site-subheading {
  margin: 0;
  padding: 0;
  color: $tan;

  @include phone {
    color: $light;
  }
}

.site-heading {
  font-size: 96px;
  text-align: center;
  position: relative;

  @include phone {
    left: 10px;
    top: 5px;
    font-size: 72px;
  }
}

.site-subheading {
  font-size: 18px;
  text-align: right;
  flex-grow: 1;
  padding-top: 5.6rem;
  font-family: $font-subheader;

  @include phone {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
