@import '../shared/vars.scss';

.site-nav {
  font-size: 18px;
  font-family: $font-subheader;
  text-transform: uppercase;
  padding-top: 0.5rem;
  position: fixed;
  left: 66px;
  top: 195px;
  height: 100%;

  @include phone {
    position: absolute;
    top: 0;
    transform: translateX(-135px);
    background-color: $dark;
    box-shadow: none;
    padding: 1rem;
    height: 100%;
    border-top: none;
    left: 0;
  }
}

.mobile-nav-active .site-nav {
  transform: translateX(0px);
}

.nav-link {
  color: $dark-tan;
  text-decoration: none;
  border-bottom: solid 3px transparent;
  margin-right: 1rem;
  padding: 0.25rem 0;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 1rem;

  @include phone {
    display: block;
    margin-right: 0;
    border-bottom-width: 1px;
    color: $light;
  }
}

.nav-link:hover {
  border-color: $pop;
  text-decoration: none;
}

.nav-link.active {
  border-color: $dark-tan;
}

.nav-mobile {
  display: none;

  @include phone {
    display: block;
    font-size: 24px;
    z-index: 3;
    cursor: pointer;
    height: 35px; /* Clickable area */
    width: 35px;
    position: absolute;
    left: 145px;
    top: 23px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: $light;
      box-shadow:
        0 0.25em 0 0 $light,
        0 0.5em 0 0 $light;
    }
  }
}
